[MASTER]
disable=
    C0114, # missing-module-docstring
    E0401, # unable-to-import (let bazel test fail)
    R0903, # too-few-public-methods
    E0611, # no-name-in-module (let bazel test fail)
    R0201, # no-self-use
    C0103, # invalid-variable-name
